{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_links %} 

<title>Login</title>

{% endblock %}

{% block head_title %}{% trans "LOGIN" %} {% endblock %}



{% block content %}
<style type="text/css">
  .bg {
    /* The image used */
    background-image: url("");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cardinput {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
    padding-bottom: 5%;
    margin-top: 5%;
  }

  @media screen and (max-width: 480px) {
    .cardinput {
        position: absolute;
        width: 95%;
        margin-left: 3%;
        margin-right: auto;
        padding-bottom: 5%;
        margin-top: 8%;
    }
  }
  .form-signin {
    width: 100%;
    max-width: 350px;
    padding: 1px;
    margin: auto;
    margin-top: 10px;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px;
    font-size: 14px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input{
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

</style>
<div class="container-fluid">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}
<div class="bg">
  <div class="card cardinput">
    <div class="d-flex flex-column pd-3 mt-3">
      <h3 class="h3" id="head_banner">{% trans "The Pivot Club" %}</h3>
      <img class="img-fluid mx-auto d-block"
                src=""
                alt="" width="50px" height="50px">
                <div class="d-flex flex-column mb-3">
                    <p class="m-auto">Bridge the gap between industry and academia </p>
                </div>

      <form class="form-signin" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
      
        {{ form|crispy }}

        {% if redirect_field_value %}
      
        <input type="hidden" name="{{ redirect_field_name }}" class="form-control" value="{{ redirect_field_value }}" />
      
        {% endif %}
      
        <button  class="btn btn-outline-primary " type="submit">{% trans "Sign In" %}</button>
        <a  class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>  
        

      </form>


      </div>
    </div>
  </div>
</div>
{% endblock %}
